<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/img/logo.ico" />
    <link rel="manifest" href="/manifest/manifest.json">
  </head>
  <body>
    {{{body}}}
    <script src="/js/build.js"></script>
  </body>
</html>
